@font-face {
  font-family: Circular;
  src: url(../font/circular-std-medium.ttf);
}
:root {
  --background-main: #1c1c1e;

  /* ======= DARK THEME ======= */
  --dark-background: #17181A;
  --dark-background-button-primary: #303136;
  --dark-background-button-secondary: #005DB2;
  --dark-background-button-tertiary: #1991FF;
  --dark-background-button-cuaternary: #616161;

  --dark-text-primary-color: #29A8FF;
  --dark-text-secondary-color: #339DFF; 
  --dark-text-tertiary-color: #B2DAFF; 
  --dark-text-cuaternary-color: #A5A5A5; 

  /* ======= LIGHT THEME ======= */
  --light-background: #F7F8FB;
  --light-background-button-primary: #ADE2FF;
  --light-background-button-tertiary: #1991FF;
  --light-background-button-quaternary: #616161;

  --light-text-primary-color:  #38B9FF;;
  --light-text-secondary-color: #339DFF; 
  --light-text-tertiary-color: #B2DAFF; 
  --light-text-cuaternary-color: #A5A5A5; 

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: 'Circular', sans-serif;
  background-color: var(--background-main);
}

a {
  text-decoration: none;
  color: #fff;
}

.main {
  width: 100vw;
  height: 100vh;
  display: grid;  
  place-items: center;
}

.calculator {
  height: auto;
  width: auto;
  position: relative;
  padding: 20px;
  border-radius: 1.5rem;
  }

.calculator__theme {
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #d1d1d1;
  cursor: pointer;
  z-index: 1;
}

  .calculator__theme.active {
    color: #333;
  }

  .calculator__theme.active::before {
    background-color: #fff;
  }

  .calculator__theme::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
  }

  .calculator__theme-icon {
    display: flex;
    justify-content: center;
    width: 1;
  }

  #screen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
    margin: 0 10px;
    margin-bottom: 20px;
    height: 150px;
    width: auto;
    max-width: 270px;
    overflow-x: scroll;
  }

  #screen::-webkit-scrollbar {
    display: block;
    height: 3px;
}

  button {
    font-size: 20px;
    border: none;
    border-radius: 1rem;
    margin: 5px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: all 200ms ease;
  }

  button:hover {
    transform: scale(1.1);
  }

  button#equal {
    height: 130px;
  }


  /* MODE: LIGHT THEME */
  .calculator {
    background-color: var(--light-background);
  }

  .calculator #screen {
    color: #0a1e23;
  }

  .calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
  }

  .calculator button.button-number {
    background: var(--light-background-button-secondary);
    color: var(--light-text-secondary-color);
  }

  .calculator button.button-operator {
    background-color: var(--light-background-button-primary);
    color: var(--light-text-primary-color);
  }

  .calculator button.button-equal {
    background: var(--light-background-button-tertiary);
    color: var(--dark-text-tertiary-color);
    box-shadow: 0 0 0 rgba(0, 163, 255, 0.65), inset -3px 4px 11px #B0DFFF;
    border-radius: 12px;
  }

  /* MODE: DARK THEME */
  .calculator.dark {
    background-color: var(--dark-background);
  }

  .calculator.dark #screen {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: var(--dark-background-button-cuaternary);
    color: var(--dark-text-cuaternary-color);
  }

  .calculator.dark button.button-number {
    background-color: var(--dark-background-button-primary);
    color: var(--dark-text-primary-color);
  }

  .calculator.dark button.button-operator {
    background-color: var(--dark-background-button-secondary);
    color: var(--dark-text-primary-color);
  }

  .calculator.dark button.button-equal {
    background-color: var(--dark-background-button-tertiary);
    color: var(--dark-text-tertiary-color);
  }

  .media {
    font-weight: 300;
  }

  .media-container {
    display: flex;
    gap: 1rem;
  }

  .media-icon__link {
    display: flex;
    gap: .3rem;
    align-items: center;
  }

  .media-icon__link {
    color: var(--dark-background-button-cuaternary);
  }

  .media-icon__link:hover {
    color: var(--dark-text-tertiary-color);
    transition: all 0.1s ease-out;
  }